<h2> Edit Account</h2>
    <form method="post" action="/users/<%= @user.id %>/edit">
    <lable for="name">Name:</label><br>
    <input type="text" name="user[name]" value="<%=@user.name%>"><br><br>
    <input type="hidden" name="_method" value="patch">
    <input type="submit" value="Submit">
    </form>

    <form method='post' action="/users/<%= @user.id %>/delete">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Account">
    </form>