<h2>All Users </h2> 
<% @users.each do |user| %> 
<h4><a href="/users/<%= user.id %>"><%= user.username %></a></h4>
<h4>Name: <%= user.name %></h4>
<h4>Movies and TV Shows: <%= user.adds.count %></h4><br>
<% end %><br>