<h2>Movies and Shows</h2>
<% @watchings.each do |watching| %> 
    <h3><%= watching.title %></h3>
    <a href="/watchings/<%= watching.id %>"><img src="<%= watching.image_url %>"></a>
    <% end %>    <br>
<a href="/watchings/new">Create New Movie or Show!</a>