
<form method="post" action="/watchings">
<lable for="title">Title:</label><br>
<input type="text" name="watching[title]"><br><br>
<lable for="movie_or_show">Movie or Show:</label><br>
<input type="text" name="watching[movie_or_show]"><br><br>
<lable for="image">Image URL:</label><br>
<input type="text" name="watching[image_url]"><br><br>
<lable for="streaming_location">Streaming Location:</label><br>
<input type="text" name="watching[streaming_location]"><br><br>
<input type="submit" value="Submit">
</form>