
<h2>Welcome to the Watchlist App!</h2>
<img src= "https://searchengineland.com/wp-content/seloads/2015/08/movie-film-video-production-ss-1920-800x450.jpg">
<br><br>
<h3> Add movies or TV shows to your personal watchlist!</h3>
<br><br>

  
